In [1]:
import pandas as pd
import numpy as np

In [2]:
# load and clean Canada confirmed cases data
dfc_can = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_confirmed.csv')
dfc_can = dfc_can[dfc_can['Country/Region'] == 'Canada'].reset_index(drop=True)
dfc_can.drop(columns=['Lat', 'Long'], inplace=True)
dfc_can.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alberta,Canada,0,0,0,0,0,0,0,0,...,5165,5355,5573,5670,5766,5836,5893,5963,6017,6098
1,British Columbia,Canada,0,0,0,0,0,0,1,1,...,2087,2112,2145,2171,2171,2224,2232,2255,2288,2315
2,Grand Princess,Canada,0,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
3,Manitoba,Canada,0,0,0,0,0,0,0,0,...,275,277,281,282,282,283,284,286,283,284
4,New Brunswick,Canada,0,0,0,0,0,0,0,0,...,118,118,118,118,118,118,119,120,120,120

In [3]:
# load and clean Canada deaths data
dfd_can = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_deaths.csv')
dfd_can = dfd_can[dfd_can['Country/Region'] == 'Canada'].reset_index(drop=True)
dfd_can.drop(columns=['Lat', 'Long'], inplace=True)
dfd_can.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alberta,Canada,0,0,0,0,0,0,0,0,...,87,90,92,94,95,104,106,112,114,115
1,British Columbia,Canada,0,0,0,0,0,0,0,0,...,109,111,112,114,114,117,121,124,126,127
2,Grand Princess,Canada,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Manitoba,Canada,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,7,7,7,7
4,New Brunswick,Canada,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# load and clean US confirmed cases data
us_column_drop = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Lat', 'Long_',
                  'Combined_Key', 'Province_State', 'Country_Region']
dfc_us = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_confirmed_US.csv')
dfc_us['Province/State'] = dfc_us['Province_State']
dfc_us['Country/Region'] = dfc_us['Country_Region']
dfc_us.drop(columns=us_column_drop, inplace=True)
dfc_us = dfc_us.groupby(['Province/State', 'Country/Region']).sum().reset_index()
dfc_us.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alabama,US,0,0,0,0,0,0,0,0,...,6912,7088,7294,7611,7888,8112,8437,8691,9046,9385
1,Alaska,US,0,0,0,0,0,0,0,0,...,355,355,364,365,368,370,371,372,374,377
2,American Samoa,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona,US,0,0,0,0,1,1,1,1,...,7209,7655,7969,8364,8640,8924,9305,9707,9945,10526
4,Arkansas,US,0,0,0,0,0,0,0,0,...,3193,3281,3337,3372,3437,3491,3525,3611,3703,3747

In [5]:
# load and clean US deaths data
us_column_drop = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Lat', 'Long_',
                  'Combined_Key', 'Population', 'Province_State', 'Country_Region']
dfd_us = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_deaths_US.csv')
dfd_us['Province/State'] = dfd_us['Province_State']
dfd_us['Country/Region'] = dfd_us['Country_Region']
dfd_us.drop(columns=us_column_drop, inplace=True)
dfd_us = dfd_us.groupby(['Province/State', 'Country/Region']).sum().reset_index()
dfd_us.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alabama,US,0,0,0,0,0,0,0,0,...,256,272,289,288,290,298,315,343,369,383
1,Alaska,US,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,10,10,10
2,American Samoa,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona,US,0,0,0,0,0,0,0,0,...,308,320,330,330,362,362,395,426,450,517
4,Arkansas,US,0,0,0,0,0,0,0,0,...,57,61,64,72,76,80,83,87,87,88

In [6]:
# concatenate data frames
dfc = pd.concat([dfc_us, dfc_can]).reset_index(drop=True)
dfd = pd.concat([dfd_us, dfd_can]).reset_index(drop=True)

# save data frames
dfc.to_pickle('cleaned_data/confirmed.pkl')
dfd.to_pickle('cleaned_data/deaths.pkl')